body {
    margin: 0;
    padding: 0;
}
.head {
    background-color: rgb(52, 7, 214);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    color: gold;
    font-weight: 700;
    margin: 0;
}
.information {
    background-color: gold;
    font-family: roboto, arial;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 24px;
}
.armenia-photo {
    display: block;
    margin: auto;
    height: auto;
    width: 50%;
}
.span {
    cursor: pointer;
}
.span:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.employees {
    margin: auto;
    height: auto;
    width: 50%;
    background-color: blue;
}
.employees-selection {
    background-color: gold;
    font-family: roboto, arial;
    color: white;
    text-shadow: 1px 2px 3px;
    padding: 20px;
    text-align: center;
}
.employees-name {
    color: gold;
    font-weight: 700;
    font-family: roboto, arial;
    padding: 15px;
    margin: 0;
    text-align: center;
}
/* .fa-solid.fa-house.fa-1x {
} */
.fa-solid.fa-circle-user.fa-5x {
    margin-right: 100px;
}
.home {
    position: absolute;
}
.home a {
    text-decoration: none;
    color: gold;
    transition: 0.3s;
}
.home a:hover {
    color: rgb(204, 173, 0);
}
