.information {
    background-color: gold;
    font-family: roboto, arial;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 24px;
}
.span {
    cursor: pointer;
}
.span:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.employees-selection {
    background-color: gold;
    font-family: roboto, arial;
    color: white;
    text-shadow: 1px 2px 3px;
    padding: 20px;
    text-align: center;
}
.fa-solid.fa-circle-user.fa-5x {
    margin-right: 100px;
}
.contact {
    margin-top: 30px;
    display: grid;
    align-content: center;
    justify-content: center;
    border: white solid 3px;
    border-radius: 50px;
    padding: 13px;
}
.contact i {
    margin-left: 13px;
}
.contact a {
    transition: 0.3s;
}
.contact a:hover {
    background: gold;
    border: white solid 3px;
    padding: 30px 666px;
    border-radius: 50px;
}
