.information {
    background-color: gold;
    font-family: roboto, arial;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 24px;
}
.span {
    cursor: pointer;
}
.span:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.employees-selection {
    background-color: gold;
    font-family: roboto, arial;
    color: whit;
    text-shadow: 1px 2px 3px;
    padding: 20px;
    text-align: center;
}
.fa-solid.fa-circle-user.fa-5x {
    margin-right: 100px;
}
.contact {
    text-align: center;
    background-color: rgb(52, 7, 214);
    padding: 15px;
}
