<style>
    .cocochoco {
    }
    p {
        font-size: 24px;
        font-family: robot, arial;
    }
    a {
        text-decoration: none;
        color: white;
        transition: 0.3s;
    }
    a:hover {
        color: rgb(191, 191, 191);
    }
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(0, 0, 129);
    }
    .navbar ul {
        list-style-type: none;
        background-color: rgb(52, 7, 214);
        padding: 0;
        margin: 0;
    }
    .navbar a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 15px;
        text-align: center;
        transition: 0.3s;
    }
    .navbar a:hover {
        background-color: rgb(52, 7, 124);
    }
    .language ul {
        background-color: black;
    }
    .games {
        background-color: gold;
        padding: 20px;
        text-align: center;
    }
    .ahanzen-logo {
        display: block;
        margin: auto;
        margin-bottom: -21px;
        width: 30%;

        /* animation: slideInLeft 1s ease-in 1s 1 normal both; */
    }
    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }
    .wrapper {
        max-width: 1200px;
        position: relative;
        left: 100px;
    }
    .wrapper .carousel {
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
    }
    .wrapper i {
        width: 46px;
        height: 46px;
        background-color: white;
        color: gold;
        text-align: center;
        line-height: 46px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        transform: translateY(-50%);
    }
    /*
    .wrapper i:first-child {
        left: -23px;
    }
    .wrapper i:last-child {
        right: -23px;
    }
    */
    .carousel img {
        height: 340px;
        width: calc(100% / 3);
    }
    .ahanzen-title {
        background-color: rgb(52, 7, 214);
        color: gold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700px;
        text-align: center;
        padding: 20px;
    }
    .brand-slogan {
        background-color: gold;
        color: aliceblue;
        font-family: roboto, arial;
        text-align: center;
        padding: 20px;
    }
    .icons-contact {
        text-align: center;
        background-color: rgb(52, 7, 214);
        padding: 15px;
    }
    .icons-contact a {
        text-decoration: none;
        margin-right: 20px;
    }
    .fa-brands.fa-instagram.fa-5x, .fa-brands.fa-tiktok.fa-5x, .fa-brands.fa-youtube.fa-5x {
        color: gold;
        transition: 0.3s;
    }
    .fa-brands.fa-instagram.fa-5x:hover, .fa-brands.fa-tiktok.fa-5x:hover, .fa-brands.fa-youtube.fa-5x:hover {
        color: rgb(179, 152, 0);
    }
    .colombia, .uk {
        width: 2%;
        height: auto;
        margin: 2px;
    }
    /* .ahanzen-logo-div {
    } */
    @keyframes portal {
        from {
            transform: translateX(-300px);
        }
        to {
            transform: translateX(0);
        }
    }
</style>