.cocochoco {}
.games a {
    color: gold;
    font-weight: 700;
}
.ahanzen-title, .games {
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700px;
    text-align: center;
    padding: 20px;
}
.brand-slogan {
    background: gold;
    color: white;
    font-family: roboto, arial;
    text-align: center;
    padding: 20px;
}
.carousel-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 10px;
    background: rgb(52, 7, 124);
}
.carousel {
    display: flex;
    gap: 18px;
    animation: slide 18s ease-in infinite;
}
.carousel img {
    width: 480px;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
@keyframes slide {
    0% {
        transform: translateX(600px);
    }
    25% {
        transform: translateX(200px);
    }
    30% {
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(-600px);
    }
    55% {
        transform: translateX(-600px);
    }
    75% {
        transform: translateX(-200px);
    }
    80% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(600px);
    }
}
.carousel-exterior {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#videoPlayer {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.breaker-navbar-carousel {
}
