<style>
    .cocochoco {
    }
    .information1 {
        background-color: gold;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .information2 {
        background-color: green;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .span1 {
        cursor: pointer;
    }
    .span1:hover {
        opacity: 0.8;
        text-decoration: underline;
    }
</style>