* {
    margin: 0;
    padding: 0;
    background: rgb(52, 7, 214);
}
div {
    display: flex;
    justify-content: center;
    transform: translateY(800%);
}
h1 {
    color: gold;
}
a {
    color: gold;
    text-decoration: none;
}
a:hover {
    color: rgb(204, 204, 204);
    text-decoration: underline;
}