.carousel-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 5px;
    margin-top: -10px;
    background: rgb(52, 7, 124);
}
.carousel {
    display: flex;
    gap: 25px;
    transition: 1s;
    animation: slide 24s ease-in infinite;
}
.carousel img {
    width: 50vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%);
    }
    30% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-75%);
    }
    55% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-75%);
    }
    80% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(0);
    }
}
.sellOffer {
    margin: 10px 0;
    padding: 10px;
    font-weight: 700;
    font-size: 2em;
}
#electronicContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#houseContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.slider {
    width: 1230px;
    display: flex;
    overflow: hidden;
    padding: 30px 10px;
    position: relative;
}
.slider .product {
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-right: 18px;
    transition: 1s;
}
.slider .product img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.slider .product .information {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Impact;
}
.slider .product .information .price {
    font-size: 24px;
}
.slider .product .information button {
    width: 100%;
    background: rgb(52, 7, 124);
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}
.slider .product .information button:hover {
    background: rgb(52, 7, 214);
}
.slider .arrow {
    width: 1240px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
}
.slider .arrow button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 0 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    background: rgb(52, 7, 124);
    transition: 1s;
}
.slider .arrow button:hover {
    background: rgb(52, 7, 214);
}
main {
    display: flex;
    justify-content: center;
}
