body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    padding-top: 60px;
}
h1 {
    color: gold;
    text-align: center;
    width: 100%;
}
img {
    max-width: 500px;
    display: block;
    margin: auto;
    border: solid 1px gold;
    margin-bottom: 20px;
}
.bt {
    background-color: blue;
    border: solid 1px gold;
    color: gold;
    padding: 10px;
    font-size: 20px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    transition: 1s ease;
    width: 25%;
}
.bt:hover {
    background-color: gold;
    color: blue;
    border: solid 1px blue;
    transform: translateY(-5px);
}
.fa-solid.fa-house.fa-2x {
    color: white;
    margin: 5px;
}
.fa-solid.fa-house.fa-2x:hover {
    color: rgb(216, 216, 216);
}
.header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    justify-content: center;
    background: rgb(52, 7, 214);
    padding: 14px 16px;
}
#left {
    display: flex;
    align-items: center;
    flex: 1;
}
#right {
    display: flex;
    align-items: center;
    margin-right: 400px;
}
#rpsGame {
    margin-top: 50px;
}