* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, arial;
}
p {
    color: gold;
}
a {
    text-decoration: none;
    color: gold;
    font-weight: 700;
}
a:hover {
    color: hsl(51, 95%, 45%);
    text-decoration: underline;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('AHANZEN-TEAM/ahanzen_/imagery/mountains.jpg'), rgb(52, 7, 214);
}
.wrapper {
    color: gold;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 4%;
    padding: 30px 40px;
}
.wrapper h1 {
    text-align: center;
    font-size: 36px;
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}
.wrapper input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 215, 0, 0.3);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: gold;
}
.input-box input::placeholder {
    color: gold;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    accent-color: gold;
    margin-right: 3px;
    width: 20px;
    height: auto;
}
.wrapper .btn {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    margin: 10px;
}
.wrapper .btn:hover {
    background: rgb(243, 243, 243);
}
.wrapper .btn:active {
    background: rgb(218, 218, 218);
}
.wrapper .register-link {
    margin: 15px;
    text-align: center;
}
i .fa-solid-fa-house-fa-1x {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#Or {
    display: flex;
    justify-content: center;
}
